<div class= "sign-in-page">
  <div class= "sign-in">
    <h2>ログイン</h2>
    <div class= "sign-in-2">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <p class= "required">必須</p><%= f.email_field :email, class: "sign-in-field", autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
        </div>
        <div class="field">
          <p class= "required">必須</p><%= f.password_field :password, class: "sign-in-field", autocomplete: "current-password", placeholder: "パスワード" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, '記憶する' %>
          </div>
        <% end %>
      <div class= "actions">
        <%= f.submit "ログインする", class: "sign-in-btn" %>
      </div>
    <% end %>
    <div class= "actions">
      <%= link_to root_path do %>
        <button class= "sign-in-btn">ゲストログイン</button>
      <% end %>
    </div>
    <div class= "actions-btn">
      <%= link_to "新規登録はこちら", new_user_registration_path %>
    </div>
  </div>
</div>
